import csv

communes_2021=[]
with open('donnees_2021.csv',newline='') as csvfile:
    reader=csv.reader(csvfile,delimiter=';')
    for row in reader:
        communes_2021.append(row)
communes_2021=[[communes_2021[i+1][2],int(communes_2021[i+1][5])] for i in range(len(communes_2021)-1)]
#print(communes_2021)
communes=[]
with open('metadonnees_communes.csv',newline='') as csvfile:
    reader=csv.reader(csvfile,delimiter=';')
    for row in reader:
        communes.append(row)
#print(communes)



communes=[[communes[i+118][2],communes[i+118][3]] for i in range(len(communes)-121)]
#print(communes)



communes_2008=[]
with open('donnees_2008.csv',newline='') as csvfile:
    reader=csv.reader(csvfile,delimiter=',')
    for row in reader:
        communes_2008.append(row)
communes_2008=[[communes_2008[i+1][2]+communes_2008[i+1][5],int(communes_2008[i+1][9])] for i in range(len(communes_2008)-1)]
#print(communes_2008)



communes_2016=[]
with open('donnees_2016.csv',newline='') as csvfile:
    reader=csv.reader(csvfile,delimiter=',')
    for row in reader:
        communes_2016.append(row)
communes_2016=[[communes_2016[i+1][2]+communes_2016[i+1][5],int(communes_2016[i+1][9])] for i in range(len(communes_2016)-1)]

communes_2023=[]
with open('donnees_2023.csv',newline='') as csvfile:
    reader=csv.reader(csvfile,delimiter=';')
    for row in reader:
        communes_2023.append(row)
communes_2023=[[communes_2023[i+1][2]+communes_2023[i+1][5],int(communes_2023[i+1][10])] for i in range(len(communes_2023)-1)]

for i in range(len(communes)):
    if communes[i][1] == 'Auxerre':
        Auxerre=communes[i][0]
    if communes[i][1] == 'Appoigny':
        Appoigny=communes[i][0]
    if communes[i][1] == 'Monéteau':
        Monéteau=communes[i][0]
    if communes[i][1] == 'Perrigny':
        Perrigny=communes[i][0]
    if communes[i][1] == 'Saint-Georges-sur-Baulche':
        SGB=communes[i][0]

#print(Auxerre)
#print(Appoigny)
#print(Monéteau)
#print(Perrigny)
#print(SGB)  


C=[[] for i in range(400)]
for i in range(33800,34200):
    C[i-33800]=communes[i]
    c=C[i-33800][0]
    for j in range(len(communes_2008)):
        if communes_2008[j][0]==c:
            C[i-33800]=C[i-33800]+[communes_2008[j][1]]
    for j in range(len(communes_2016)):
        if communes_2016[j][0]==c:
            C[i-33800]=C[i-33800]+[communes_2016[j][1]]
    for j in range(len(communes_2021)):
        if communes_2021[j][0]==c:
            C[i-33800]=C[i-33800]+[communes_2021[j][1]]
    for j in range(len(communes_2023)):
        if communes_2023[j][0]==c:
            C[i-33800]=C[i-33800]+[communes_2023[j][1]]


dates=[2008,2016,2021,2023]
Auxerre_pop=[]
Appoigny_pop=[]
Monéteau_pop=[]
Perrigny_pop=[]
SGB_pop=[]
Auxerre_aglo_2008=[]
for i in range(len(C)):
    if C[i][0]==Auxerre:
        Auxerre_pop=[C[i][2],C[i][3],C[i][4],C[i][5]]
    if C[i][0]==Appoigny:
        Appoigny_pop=[C[i][2],C[i][3],C[i][4],C[i][5]]
    if C[i][0]==Monéteau:
        Monéteau_pop=[C[i][2],C[i][3],C[i][4],C[i][5]]
    if C[i][0]==Perrigny:
        Perrigny_pop=[C[i][2],C[i][3],C[i][4],C[i][5]]
    if C[i][0]==SGB:
        SGB_pop=[C[i][2],C[i][3],C[i][4],C[i][5]]
print(dates)
Auxerre_aglo_2008=[Auxerre_pop[0]+Appoigny_pop[0]+Monéteau_pop[0]+Perrigny_pop[0]+SGB_pop[0]]
Auxerre_aglo_2016=[Auxerre_pop[1]+Appoigny_pop[1]+Monéteau_pop[1]+Perrigny_pop[1]+SGB_pop[1]]
Auxerre_aglo_2021=[Auxerre_pop[2]+Appoigny_pop[2]+Monéteau_pop[2]+Perrigny_pop[2]+SGB_pop[2]]
Auxerre_aglo_2023=[Auxerre_pop[3]+Appoigny_pop[3]+Monéteau_pop[3]+Perrigny_pop[3]+SGB_pop[3]]
print(Auxerre_aglo_2008)
print(Auxerre_aglo_2016)
print(Auxerre_aglo_2021)
print(Auxerre_aglo_2023)
Auxerre_aglo=[Auxerre_aglo_2008,Auxerre_aglo_2016,Auxerre_aglo_2021,Auxerre_aglo_2023]

from matplotlib import pyplot as plt

plt.plot(dates,Auxerre_aglo,color='r')
plt.scatter(dates,Auxerre_aglo,color='r')

plt.title("Population dans l'agglomération d'Auxerre")
plt.ylabel('Population')
plt.xlabel('Années')

plt.show()







     
